@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Syne:wght@600&display=swap");
.container {
  border: 1px;
  border-radius: 10px;
  margin: 5px;
  width: 18%;
  background-color: white;
}

.name {
  font-family: "Inter", "sans-serif";
  color: #22318f;
}
.secondary {
  font-family: "Inter", "sans-serif";
  color: #22318f;
}
