@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  width: 18%;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.link {
  font-family: "Lato", "sans-serif";
  text-decoration: none;
  color: #171b26;
}

.name {
  text-align: center;
  font-family: "Lato", "sans-serif";
  color: #171b26;
  text-decoration: underline;
  max-width: 100px;
}

.continent {
  text-align: center;
  font-family: "Lato", "sans-serif";
  color: #171b26;
}

.imgSize {
  width: 100px;
}

.removeUlStyles {
  list-style-type: none;
}
