.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2eeef;
}

.padding {
  padding-right: 500px;
  margin-right: 500px;
}

.container {
  background-color: #000411;
}
