@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.hide {
  display: none;
}

.activated {
  background-color: #284b63;
  color: #ffffff;
  height: 30px;
  font-family: "Lato", "sans-serif";
}

.buttonDefault {
  height: 30px;
  font-family: "Lato", "sans-serif";
  /* margin: 7px 0 7px; */
}

.spanText {
  font-family: "Lato", "sans-serif";
  display: inline-block;
  padding: 0 5px 0;
}

.label {
  padding: 10px;
}
