@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.nav {
  float: right;
}

.link {
  font-family: "Lato", "sans-serif";
  text-decoration: none;
  color: #22318f;
}

.removeUlStyles {
  list-style-type: none;
}

.inlineLi {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.h3 {
  color: #22318f;
}
